@{
    ViewData["Title"] = "Home Page";
}


<br />

<div class="jumbotron">
    <h2>The Zenith Society is a family oriented non-for-profit organization that holds events during the week.</h2>
    <br />
    <p>Access this website and you can find our schedule for this week!</p>
</div>