<div class="jumbotron">
  <h2>The Zenith Society is a family oriented non-for-profit organization that holds events during the week.</h2>
  <br />
  <p>Find below our events by week!</p>
</div>

<div class="row">
  <div class="col-12">
    <button type="button" (click)="previous(); $event.stopPropagation()" class="btn btn-info">Previous Week</button>
    <label class="text-center navigation-text">{{dateFrom}} to {{dateTo}}</label>
    <button type="button" (click)="next(); $event.stopPropagation()" class="btn btn-info pull-right">Next Week</button>
  </div>
</div>
<br/>
<table class="table">
  <ng-container *ngFor="let byDate of eventsByDate;">
    <thead>
      <th colspan="2" class="event-date text-center">{{byDate.date}}</th>
    </thead>
    <tbody>
      <tr *ngFor="let event of byDate.events;">
        <td>{{event.startTime}} - {{event.endTime}}</td>
        <td>{{event.activityType}}</td>
      </tr>
    </tbody>
  </ng-container>
  <div *ngIf="eventsByDate && eventsByDate.length === 0;">
    <div class="alert alert-warning" role="alert">
      <strong>Sorry!</strong>
      No events for this week, but check out our upcoming events.
    </div>
  </div>
</table>